* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --pallet-nila: #051239;
  --pallet-gading: #fef8f4;

  --radius: 5px;

  --text-header: clamp(36px, 3vw, 64px);
  --text-paragraf: clamp(16px, 1.25vw, 24px);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #20254f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b5cf6, #c084fc);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #7c3aed, #a855f7);
}

body {
  margin: 0;
  font-family: var(--font-mitr);

  font-weight: 300;
  overflow-x: hidden;
}

.padding {
  padding: 0 8vw;
}
