.ant-layout {
  width: 100%;
  min-height: 100vh;
}

.sider-dashboard-con {
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--pallet-nila) !important;
}

.content-dashboard {
  min-width: 0;
  min-height: 100vh;
  padding: 2vw;
  box-sizing: border-box;
  background-color: var(--pallet-gading);
}

.back-to-landing-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0;
  margin-bottom: 20px;

  border: none;
  background: none;

  color: #201942;
  font-weight: bold;
  cursor: pointer;
}

.back-to-landing-btn span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: #2f1f75;

  color: white;
}

.blokir-analisis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 100px);
  text-align: center;
}

.blokir-analisis img {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
  opacity: 0.5;
}

.blokir-analisis h3 {
  margin: 0;
  color: rgb(35, 4, 71);
  opacity: 0.5;
}

.blokir-analisis p {
  margin: 0;
  color: rgb(35, 4, 71);
  opacity: 0.8;
}

.blokir-analisis button {
  margin-top: 20px;
  padding: 14px;

  border: none;
  border-radius: 10px;

  background: #2f1f75;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.topSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  align-items: start;
  margin-top: 24px;
}

.leftSection,
.rightSection {
  min-width: 0;
}

@media (max-width: 1100px) {
  .topSection {
    grid-template-columns: 1fr;
  }
}

.bottom-nav-dashboard {
  display: none;
}

@media (max-width: 768px) {
  .sider-dashboard-con {
    display: none;
  }

  .content-dashboard {
    padding: 20px;
    padding-bottom: 90px;
  }

  .bottom-nav-dashboard {
    position: fixed;
    display: flex;
    align-items: center;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    margin: 0;
    padding: 0 7vw !important;

    z-index: 999;

    background-color: var(--pallet-nila);
  }

  .blokir-analisis {
    min-height: calc(100vh - 130px);
  }

  .blokir-analisis img {
    width: 70px;
    margin-bottom: 15px;
  }

  .blokir-analisis button {
    margin-top: 20px;
  }
}
